.projects-list{
    width: 50%;
    min-height: 80vh;
    height: auto;
        box-shadow: $neuromorphic;

}


#list {
    li{
        font-size: 2rem;
    }
    .caret{
        cursor: pointer;
    }
    .nested {
       padding-left: 3rem;
    }   
    .close {
        display: none;
    }
    .open {
        display: block;
    }
  
}
.nested-item{
    font-size: 1.5rem !important;
}