.contact-flex-container {
    width: 100%;
  display: flex;
}
.avatar-section {
    width: 50%;    padding: 1.5rem;

}
.current-profile{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    h4{
        margin-right: 5rem;
    }
    
}
.current-profile-image {
display: flex;
flex-direction: column;
align-items: center;

    img{
      width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;  
  margin-bottom: 1rem; 
  border-radius: $radius;
    }
 
}

.btn-contact-container{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    top:90%;
    left: 0%;
}

.btn-edit {
    width: 250px;
}

@media (max-width: $mq-small) {
    .contact-flex-container {
   flex-direction: column;
}
.btn-contact-container{
    position: static;
    
}
}